@import "tailwindcss";

/* ================= BRAND COLORS ================= */

@theme {
  --color-primary: #FF8500;
  --color-primary-light: #FFB05B;
  --color-old-lace: #FFF3E5;
  --color-off-white: #F2F0F0;
  --color-dark: #131313;
  --color-light: #F5F4F4;
  --color-washed-black: #343434;
  --color-gold: #FFD813;
  --color-saffron: #FFAB4F;
}

/* Base */

body {
  @apply bg-light text-dark;
}

.grecaptcha-badge {
  visibility: hidden;
}

.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

.scrollbar-hide {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

/* Fix swiper height */
/* #services .swiper {
  height: 350px;
} */

#services .swiper-wrapper {
  height: auto !important;
}

#services .swiper-slide {
  height: 100%;
}

.tab-content {
  opacity: 0;
}

.tab-content.active {
  opacity: 1;
}

.tab-video {
  opacity: 0;
  transition: opacity 0.5s;
}

.tab-video.active {
  opacity: 1;
}